@import 'src/app/styles/vars';

.ChatPage {
  width: 100%;
  display: flex;
  flex-direction: column;
  min-height: 100svh;
  min-height: 100vh;
}

.ChatPage__container {
  @include container;
}

.ChatPage__headerOuter {
  position: sticky;
  top: 0;
  left: 0;
  border-bottom: 1px solid $color-divider-dark;
  box-shadow: 0 0 32px rgba(0,0,0,.05);
  background-color: $color-background-primary;
  z-index: 999;
}

.ChatPage__header {

}

.ChatPage__formOuter {
  position: sticky;
  bottom: 0;
  left: 0;
  padding-bottom: 20px;
  background-image: linear-gradient(180deg,hsla(0,0%,100%,0) 13.94%,#fff 54.73%);
}

.ChatPage__content {
  flex: 1;
  @include flex-col;
}

.ChatPage__contentInner {
  @include flex-col;
  flex: 1;
  justify-content: flex-end;
  padding: 20px 0;
}

.ChatPage__messageContainer_right {
  & + & {
    margin: 4px 0 0;
  }

  & + .ChatPage__messageContainer_left {
    margin-top: 8px;
  }

  &:not(:has(+ .ChatPage__messageContainer_left)):not(:last-child) {
    .ChatPage__message::after, .ChatPage__message::before {
      display: none;
    }
  }
}

.ChatPage__messageContainer_left {
  & + & {
    margin: 4px 0 0;
  }

  & + .ChatPage__messageContainer_right {
    margin-top: 8px;
  }

  &:not(:has(+ .ChatPage__messageContainer_right)):not(:last-child) {
    .ChatPage__message::after, .ChatPage__message::before {
      display: none;
    }
  }
}

.ChatPage__message {

}