@import 'src/app/styles/vars';

.ChatInput {
  box-shadow: 0 0 15px rgba(0,0,0,.1);
  border-radius: $radius-large-x !important;
}

.ChatInput__input {
}

.ChatInput__button {
  width: 32px !important;
  min-height: unset !important;
  height: 32px !important;
  padding: 0 !important;
  align-self: flex-end;
}

.ChatInput__icon {
  width: 16px;
  height: 16px;
}